* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #121212;
  --text-color: #f2f2f2;
  --navbar-background: #0e1113;
  --navbar-text-color: #dbe4e9;
  --footer-background: #222222;
  --footer-text-color: grey;
  --border-color:rgb(80, 80, 80);
}

/* Light Mode */
[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #181c1f;
  --navbar-background: #ffffff;
  --navbar-text-color: #3f4345;
  --footer-background: rgb(77, 77, 77);
  --footer-text-color: #000000;
  --border-color: rgb(194, 194, 194);
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 1.6;
  background-color: inherit;
  cursor: 'winkchen.webp', auto;
}
